[submodule "themes/cayman"]
	path = themes/cayman
	url = https://github.com/zwbetz-gh/cayman-hugo-theme.git
[submodule "themes/purehugo"]
	path = themes/purehugo
	url = https://github.com/dplesca/purehugo.git
